# Rust
backend/target/
backend/target-clippy/
backend/target-cov/
backend/target-lambda/
**/*.rs.bk

# Node
node_modules/
frontend/dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environment
.env
a.png
